services:
  # 1. Das Backend (Python Server)
  - type: web
    name: dart-backend
    runtime: docker
    region: frankfurt
    plan: free
    rootDir: server_python
    dockerfilePath: Dockerfile
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: dart-db
          property: connectionString
      - key: MAILGUN_API_KEY
        sync: false # Musst du manuell im Dashboard eintragen (Sicherheit!)
      - key: MAILGUN_DOMAIN
        value: sandbox64b84171150447e2a8964210a106f64a.mailgun.org
      - key: MAILGUN_API_URL
        value: https://api.mailgun.net/v3 # Ändere zu https://api.eu.mailgun.net/v3 für EU-Accounts

  # 2. Das Frontend (React Website)
  - type: web
    name: dart-frontend
    env: static
    rootDir: client         # WICHTIG: Hier liegt dein Frontend-Code!
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    # Wir setzen die URL manuell im Dashboard, da die automatische Verknüpfung nur die interne URL liefert.
    # envVars:
    #   - key: VITE_API_URL
    #     fromService:
    #       type: web
    #       name: dart-backend
    #       property: host

databases:
  - name: dart-db
    databaseName: dart_app
    user: dart_user
    plan: free
